@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i');
@font-face { font-family: 'Noto Sans kr', sans-serif;
              font-family: ''}
h1 {font-family: 'Noto Sans KR', sans-serif;}

@media (min-width: 0px) and (max-width: 1000px)
  {

    body {background-color: #263f3a;}
    h3 {font-family: 'Ubuntu', sans-serif;
        font-size: 20px;
        position: fixed;
        font-weight: 500;}

  .cat1, .cat2 {
        color: white;}

    .cat1 {display:inline-block; width: 30px; margin:10px;position:fixed;left:600px}
    .cat2 {display:inline-block; width:30%; margin:10px;position:fixed;left:650px}
    h4 {font-family: 'Noto Sans KR', sans-serif;
        font-size: 13px;
        line-height: 23px;
        font-weight: 300;
        color: white;
        word-break: keep-all;
        position: fixed;
        top: 150px;
        left: 30px;
        width: 185px;
        overflow: scroll;
        }

    .jiwon {font-family: 'Ubuntu', sans-serif;
        font-size: 7px;
        line-height: 13px;
        color: white;
        position:fixed;
        text-align: right;
        font-weight: 100;
        bottom: 5px;
        right: 200px;}

        .jimyung {font-family: 'Ubuntu', sans-serif;
            font-size: 7px;
            line-height: 13px;
            color: white;
            position:fixed;
            text-align: right;
            font-weight: 100;
            bottom: 5px;
            right: 20px;}

  .imgsource {display:block;position:absolute;
              top:180px;left:37%;

              z-index:-1
              }



     a {color: white;
        text-decoration: none;}

    .cat1-1 {
      font-family: 'Noto Sans KR', sans-serif;
          font-size: 16px;
          font-weight: 400;
          color: white;
        position: fixed;
        display: inline-block;
        top: 140px;
        right: 240px;
        text-align: right;
          }

    .cat1-2 {font-family: 'Noto Sans KR', sans-serif;font-weight: 400;
    color: white;
        font-size: 16px;
        position: fixed;
        display: inline-block;
        top: 140px;
        right:140px;
        text-align: right;
          }
    .cat1-3 {font-family: 'Noto Sans KR', sans-serif;font-weight: 400;
    color: white;
        font-size: 16px;
        position: fixed;
        display: inline-block;
        top: 140px;
        right:90px;
        text-align: right;
          }

    .cat1-4 {font-family: 'Noto Sans KR', sans-serif;font-weight: 400;
    color: white;
        font-size: 16px;
        position: fixed;
        display: inline-block;
        top: 140px;
        right: 40px;
        text-align: right;
          }


    .각주 {font-family: 'Noto Sans kr', sans-serif;
        font-size: 7px;
        line-height: 15px;
        color: white;
        position:fixed;
        text-align: left;
        font-weight: 100;
        bottom: 30px;
        left: 20px;}




}




@media (min-width: 1001px)
  {

    body {background-color: black;}
    h3 {font-family: 'Ubuntu', sans-serif;
        font-size: 20px;
        position: fixed;
        float: right;
        font-weight: 500;}

  .cat {
        color: white;}

    h4 {font-family: 'Noto Sans KR', sans-serif;
        font-size: 13px;
        line-height: 23px;
        font-weight: 300;
        color: white;
        word-break: keep-all;
        position: fixed;
        top: 150px;
        left: 30px;
        width: 185px;
        height: 70%;
        overflow: scroll;
        }

    .jiwon {font-family: 'Ubuntu', sans-serif;
        font-size: 7px;
        line-height: 13px;
        color: white;
        position:fixed;
        text-align: right;
        font-weight: 100;
        bottom: 5px;
        right: 200px;
        }

        .jimyung {font-family: 'Ubuntu', sans-serif;
            font-size: 7px;
            line-height: 13px;
            color: white;
            position:fixed;
            text-align: right;
            font-weight: 100;
            bottom: 5px;
            right: 20px;}

  .imgsource {display:block;position:absolute;
              top:180px;left:37%;

              z-index:-1
              }











}
